pyttsx3
SpeechRecognition
requests-html
pillow
lxml
PyAudio
pyjokes
wikipedia






#!/bin/bash
apt-get update
apt-get upgrade
apt-get install -y nginx
systemctl start nginx
systemctl enable nginx
apt-get install -y git
curl -sL https://deb.nodesource.com/setup_18.x | sudo -E bash -
apt-get install -y nodejs
git clone https://github.com/Debdotta26/aws_ass.git
cd aws_ass
npm install
node index.js
(nginx -v
pwd
cd ..
cd /var/www/html
/var/www/html
ls
sudo chmod 777 /var/www/html/
/var/www/html
)



#local to github
git init
git config --global user.name "Debdotta26"
git config --global user.email "jiniapumpoo0926@gmail.com"
git add .
git commit -m "done"
git remote
git remote add origin https://github.com/Debdotta26/aws_ass
git branch -M main
git push -u origin main


#github to local
git clone https://github.com/Debdotta26/aws_ass.git
ls
cd aws_ass
ls
git add .
git commit -m "done"
git push
git pull origin main


